<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Amazon Recommender</title>
        <style type="text/css">
            #main-header{
                text-align:center;
                background-color:black;
                color:white;
                padding:10px
            }
        </style>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    </head>
    <body>
        

        <!--TITLE-->
        <header id="main-header">
                <h1>Amazon Recommender System</h1>
                <p>By Alvaro Morales, Pascal Schenk and André Zommerfelds</p>
        </header>
        <h1>
            <a href = {{ url_for('home') }}>Home</a>
        </h1>
        
        <!--INTRO TEXT-->
        <p>
            This little interface will show you how a simple recommender system
            might work using k nearest neighbors. Let's start looking at a sample
            product:
        </p>
        <p>
            <a href = "https://www.amazon.com/dp/B003VWJ2K8" target="_blank">https://www.amazon.com/dp/B003VWJ2K8</a>
        </p>
        <p>
            The last part of the link tells you the product identification (B003VWJ2K8).
            You can always access products by typing in the browser "www.amazon.com/dp/"
            and add this code after "dp/".
            We are going to use these product IDs for our recommender system.
        </p>
        <p>
            Now you're in charge. We gave you access to the cockpit of the recommender system. 
            Are you ready to enter?
        </p>
        <!--GOT TO COCKPIT-->
        <form action="/cockpit">
            <input type="submit" value="Enter the cockpit">
        </form>
    </body>
</html>