<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Amazon Recommender</title>
        <style type="text/css">
            #main-header{
                text-align:center;
                background-color:black;
                color:white;
                padding:10px
            }
        </style>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    </head>
    <body>
        

        <!--TITLE-->
        <header id="main-header">
                <h1>Amazon Recommender System</h1>
                <p>By Alvaro Morales, Pascal Schenk and André Zommerfelds</p>
        </header>
        <h1>
            <a href = {{ url_for('home') }}>Home</a> / 
            <a href = {{ url_for('cockpit') }}>Cockpit</a>
        </h1>
        
        <!--DATA SET SELECTION-->
        <form action="/cockpit/KNN" method="POST">
            <label>{{ msg }}</label>
        </form>
        <form action="/cockpit">
            <label>You're set! Go back to the cockpit and agree to continue.</label>
            <input type="submit" value="Go back to cockpit">
        </form>
    </body>
</html>