<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Amazon Recommender</title>
        <style type="text/css">
            #main-header{
                text-align:center;
                background-color:black;
                color:white;
                padding:10px
            }
        </style>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    </head>
    <body>
        <!--TITLE-->
        <header id="main-header">
                <h1>Amazon Recommender System</h1>
                <p>By Alvaro Morales, Pascal Schenk and André Zommerfelds</p>
        </header>
        <h1>
            <a href = {{ url_for('home') }}>Home</a> / 
            <a href = {{ url_for('cockpit') }}>Cockpit</a> / 
            <a href = {{ url_for('recommender') }}>Recommender System</a>
        </h1>
        <p>Product:  {{prod_id}} </p>
        <p>Distance metric:  {{metric}} </p>
        <p>Algorithm:  {{algorithm}} </p>
        <hr style="border: 0.5px solid black;" />
        <p>{{ msg }}</p>
        <p><b>Chosen product:</b><br></p>
        <p>
            Product ID: {{products[0]}}<br>
            Total stars: {{total_stars[0]}}<br>
            Total reviews: {{total_reviews[0]}}<br>
            URL: <a href = {{ recommendations[0] }} target="_blank">{{ recommendations[0] }}</a>
        </p>
        <p><b>Recommended products:</b><br></p>
        <p>
            Product ID: {{products[1]}}<br>
            Total stars: {{total_stars[1]}}<br>
            Total reviews: {{total_reviews[1]}}<br>
            URL: <a href = {{ recommendations[1] }} target="_blank">{{ recommendations[1] }}</a>
        </p>
        <p>
            Product ID: {{products[2]}}<br>
            Total stars: {{total_stars[2]}}<br>
            Total reviews: {{total_reviews[2]}}<br>
            URL: <a href = {{ recommendations[2] }} target="_blank">{{ recommendations[2] }}</a>
        </p>
        <p>
            Product ID: {{products[3]}}<br>
            Total stars: {{total_stars[3]}}<br>
            Total reviews: {{total_reviews[3]}}<br>
            URL: <a href = {{ recommendations[3] }} target="_blank">{{ recommendations[3] }}</a>
        </p>
        <p>
            Product ID: {{products[4]}}<br>
            Total stars: {{total_stars[4]}}<br>
            Total reviews: {{total_reviews[4]}}<br>
            URL: <a href = {{ recommendations[4] }} target="_blank">{{ recommendations[4] }}</a>
        </p>
        <p>
            Product ID: {{products[5]}}<br>
            Total stars: {{total_stars[5]}}<br>
            Total reviews: {{total_reviews[5]}}<br>
            URL: <a href = {{ recommendations[5] }} target="_blank">{{ recommendations[5] }}</a>
        </p>
        <p>
            Product ID: {{products[6]}}<br>
            Total stars: {{total_stars[6]}}<br>
            Total reviews: {{total_reviews[6]}}<br>
            URL: <a href = {{ recommendations[6] }} target="_blank">{{ recommendations[6] }}</a>
        </p>
        <p>
            Product ID: {{products[7]}}<br>
            Total stars: {{total_stars[7]}}<br>
            Total reviews: {{total_reviews[7]}}<br>
            URL: <a href = {{ recommendations[7] }} target="_blank">{{ recommendations[7] }}</a>
        </p>
        <p>
            Product ID: {{products[8]}}<br>
            Total stars: {{total_stars[8]}}<br>
            Total reviews: {{total_reviews[8]}}<br>
            URL: <a href = {{ recommendations[8] }} target="_blank">{{ recommendations[8] }}</a>
        </p>
        <p>
            Product ID: {{products[9]}}<br>
            Total stars: {{total_stars[9]}}<br>
            Total reviews: {{total_reviews[9]}}<br>
            URL: <a href = {{ recommendations[9] }} target="_blank">{{ recommendations[9] }}</a>
        </p>
        <p>
            Product ID: {{products[10]}}<br>
            Total stars: {{total_stars[10]}}<br>
            Total reviews: {{total_reviews[10]}}<br>
            URL: <a href = {{ recommendations[10] }} target="_blank">{{ recommendations[10] }}</a>
        </p>
        <p>
            Product ID: {{products[11]}}<br>
            Total stars: {{total_stars[11]}}<br>
            Total reviews: {{total_reviews[11]}}<br>
            URL: <a href = {{ recommendations[11] }} target="_blank">{{ recommendations[11] }}</a>
        </p>
        <p>
            Product ID: {{products[12]}}<br>
            Total stars: {{total_stars[12]}}<br>
            Total reviews: {{total_reviews[12]}}<br>
            URL: <a href = {{ recommendations[12] }} target="_blank">{{ recommendations[12] }}</a>
        </p>
        <p>
            Product ID: {{products[13]}}<br>
            Total stars: {{total_stars[13]}}<br>
            Total reviews: {{total_reviews[13]}}<br>
            URL: <a href = {{ recommendations[13] }} target="_blank">{{ recommendations[13] }}</a>
        </p>
        <p>
            Product ID: {{products[14]}}<br>
            Total stars: {{total_stars[14]}}<br>
            Total reviews: {{total_reviews[14]}}<br>
            URL: <a href = {{ recommendations[14] }} target="_blank">{{ recommendations[14] }}</a>
        </p>
        <p>
            Product ID: {{products[15]}}<br>
            Total stars: {{total_stars[15]}}<br>
            Total reviews: {{total_reviews[15]}}<br>
            URL: <a href = {{ recommendations[15] }} target="_blank">{{ recommendations[15] }}</a>
        </p>
        <form action="/recommender">
            <input type="submit" value="<< Back to parameters">
        </form>

    </body>
</html>